

.sound{
	height: 100px;
	width: 100px;
	background-color: orange;
	margin-right: 20px;
	margin-bottom: 10px;
}


.active{
	background-color: orange;
}

.inactive{
	background-color: gray;
}

.btn:focus {
  outline: none;
}

#choiceA{
	visibility: hidden;
}

#choiceB{
	visibility: hidden;
}

#setupBtn{
	visibility:hidden;
}

[name="selectable"]{
	visibility:visible;
}